
<!DOCTYPE html>
<html lang="pl">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.png"/>
    <title>{{ title }}</title>
    <style>
        * {word-break: break-all; }
    </style>
</head>
<body>
    <p><a href="/">Wróć do wersji JavaScript</a></p>
    <p>Menu: <a href="/basic/omnie">O mnie</a> <a href="/basic/projekty">Moje projekty</a> <a href="/basic/socialmedia">Social media</a> <a href="/basic/kontakt">Kontakt</a></p>
    <hr>
    {{ content }}
</body>
</html>
